<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= render "projects/project_card", project: @project %>

    <%= link_to '< Back', projects_path, class: "btn btn-sm btn-outline-info" %>
    <hr />
  </div>
</div>
