<div class="row" style="padding-left: 15px;">
  <% unless post.status == 'published' %>
    <span class="badge badge-warning">Draft</span>
  <% end %>
  <% if post.created.to_date >= 1.week.ago.utc %>
    <span class="badge badge-success">New</span>
  <% end %>
</div>
