<div class="col-md-2"></div>
<div class="col-md-8">
  <h1 class="medium-header display-1">Lets Talk About Tech Baby</h1>
  <p class="lead"> Throughout the posts on here, you will find blurbs about an array of different topics. This is
    because there are many things in my life that I find interesting, and/or things that I wish when I first encountered
    them, that I would have had some help with. I do not claim to be a genius. In fact I am no such thing. But I am very
    passionate about a lot of things. One of which is helping others when I have the opportunity to do so. So don't take
    the words I write as the <i>be-all and end-all</i> of what I talk about. I'm just putting my thoughts and
    experiences out on the web. And if just one person finds some benefit from it, then I've done my job.</p>
  <p class="lead">- Thomas Baird</p>
  <hr/>
  <% if @posts.count == 0 %>
    <center>
      <h3>
        <small class="text-muted">Sorry! There are no posts yet.</small>
      </h3>
    </center>
  <% else %>
    <% @posts.each do |post| %>
      <%= render partial: 'post_preview', locals: { post: post } %>
    <% end %>
  <% end %>
  <br>
  <div class="row">
    <div class="btn-group pull-right">
      <% if @prev_page %>
        <%= link_to "< Newer Posts", posts_path(:page => @prev_page), class: "btn btn-sm btn-outline-info" %>
      <% end %>
      <% if @next_page %>
        <%= link_to "Older Posts >", posts_path(:page => @next_page), class: "btn btn-sm btn-outline-info" %>
      <% end %>
    </div>
  </div>
  <% if admin_signed_in? %>
    <%= link_to 'New Post', new_post_path, class: "btn btn-md btn-outline-primary" %>
  <% end %>
</div>
<div class="col-md-2"></div>
