body {
  padding-top: 70px;
}

.menu-row {
  padding: 20px;
  color: white;

}

a.menu-item:hover {
  text-decoration: none;
}

.bg-blue {
  background-color: $prime-blue;
}

.bg-white {
  background-color: white;
  border-bottom: 2px solid $prime-blue;
}

.bg-dark-blue {
  background-color: $blue;
  border-bottom: 2px solid $prime-blue;
}

.menu-row:hover {
  background-color: $blue-green;
  color: white;
  text-decoration: none;
}

.bottom-border-white {
  border-bottom: 1px solid white;
}

.bottom-border {
  border-bottom: 1px solid $blue-green;
}

.container-fluid { 
  
}

.profile-image {
  height: 125px;
  width: 125px;
}

.project-image {
  height: 100px;
  width: 100px;
}

.icon-image {
  height: 50px;
  width: 50px;
}

.icon-image:hover {
  opacity: 0.7
}