@import "bootstrap";
@import "trix";
@import "_variables";
@import "_navbar";
@import "_bootstrap-overrides";
@import "_footer";

// Used for code block syntax highlighting
pre {
  background-color: #2D2D2D;
}

.post-body {
  padding: 10px;
}

.hidden {
  display: none
}

.post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
  a {
    color: $prime-blue;
  }
  a:hover {
    text-decoration: none;
    color: $blue;
  }
}

.primary-text {
  color: $prime-blue;
  a {
    color: $prime-blue;
  }
}
#contact-me {
  background-color: $blue-green;
  color: black;
}

.main-container {
  margin-top: -10px;
  * {
    padding: 5px;
  }
}

.title {
  color: $prime-blue;
  a {
    color: $prime-blue;
  }
  a:hover {
    color: $blue;
    text-decoration: none;
  }
}

.large-header {
  font-size: 15vw;
}
.medium-header {
  font-size: 10vw;
  color: $prime-blue;
}
.small-header {
  font-size: 5vw;
}
.welcome-row {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: $prime-blue;
  color: white;
}

.section-row {
  padding: 15px;
  border-top: 0.25px solid $blue-green;
}

.footer-separator {
  width: 300px;
}
