@import "trix";
@import "_variables";
@import "_navbar";
@import "_footer";
@import "projects";
@import "bootstrap";
@import "_bootstrap-overrides";

// Used for code block syntax highlighting
pre {
  border: 1px solid $prime-blue !important;
  background-color: #2D2D2D !important;
  padding: 15px !important;
  border-radius: 5px !important;
}

.post-body {
  padding: 10px;
}

.post {
  padding-top: 35px;
  padding-bottom: 35px;
}

.hidden {
  display: none
}

.post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
  a {
    color: $prime-blue;
  }
  a:hover {
    text-decoration: none;
    color: $blue;
  }
}

.primary-text {
  color: $prime-blue;
  a {
    color: $prime-blue;
  }
}

#contact-me {
  background-color: $blue-green;
  color: black;
}

.main-container {
  margin-top: -10px;
  * {
    padding: 5px;
  }
}

.title {
  color: $prime-blue;
  font-family: 'Open Sans', sans-serif;
  a {
    color: $prime-blue;
  }
  a:hover {
    color: $blue;
    text-decoration: none;
  }
}

.large-header {
  font-size: 15vw;
}

.medium-header {
  font-size: 9vw;
  color: $prime-blue;
}

.small-header {
  font-size: 5vw;
}

.welcome-row {
  padding-top: 15px;
  padding-bottom: 15px;
  background: $prime-blue;
  background: -webkit-linear-gradient($prime-blue, #92dfff);
  background: -o-linear-gradient($prime-blue, #92dfff);
  background: -moz-linear-gradient($prime-blue, #92dfff);
  background: linear-gradient($prime-blue, #92dfff);
  color: white;
}

.section-row {
  padding: 15px;
  border-top: 0.25px solid #CCF0FF;
}

.footer-separator {
  min-width: 250px;
  max-width: 300px;
}

.post-body-full {
  font-family: 'Open Sans', sans-serif;
  color: #3B3B3B;
  line-height: 180%;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
}

.post-body {
  font-family: 'Open Sans', sans-serif;
  color: #3B3B3B;
  line-height: 180%;
}

.light-text {
  color: #AEAEAE;
}

.post-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #242424;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
}

.open-sans-bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.content-paragraph {
  margin-bottom: 10px;
}

.opening-paragraph {
  margin-bottom: -15px;
}

.right-border {
  border-right: 1px solid #EEEEEE;
}

.project-card {
  min-height: 275px;
}

.description {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}

.margin-bottom {
  margin-bottom: 10px;
}

#title-input {
  padding-bottom: 10px;
}

#body-input {
  padding-top: 10px;
}

// Github CSS Overrides
.markdown-body {
  font-family: 'Open Sans', sans-serif !important;
}

.featured-image {
  padding-bottom: 20px;

  img {
    width: 100%;
    height: 275px;
  }
}

img.center-align {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.blog-banner {
  padding-bottom: 10px;
}
