<div class="pos-f-t row">
  <div class="navbar navbar-light bg-white navbar-static-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-1">
        <button class="navbar-toggler title" type="button" data-toggle="collapse" data-target="#navbar-header">
          ☰
        </button>
        </div>
        <div class="col-xs-10">
        <h2 class="title">Tmobaird.io</h2>
        </div>
      </div>
    </div>     
  </div>
  <div class="collapse" id="navbar-header">
    <div class="bg-dark-blue p-l-1">
      <div class="container-fluid">
        <a class="menu-item" href="#about-me"><div class="row menu-row bottom-border-white">About Me</div></a>
        <a class="menu-item" href="#projects"><div class="row menu-row bottom-border-white">Projects</div></a>
        <a class="menu-item" href="#blog"><div class="row menu-row bottom-border-white">My Blog</div></a>
        <a class="menu-item" href="#contact-me"><div class="row menu-row">Contact</div></a>
      </div>
    </div>
  </div>
</div>